<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                            http://java.sun.com/xml/ns/javaee/web-app_3.0.xsd"
        version="3.0"
        metadata-complete="false">

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>realm1</realm-name>
    </login-config>

    <security-role>
        <role-name>getter</role-name>
    </security-role>

    <security-role>
        <role-name>poster</role-name>
    </security-role>

</web-app>
